<div class="footer-area">
    <div class="footer-top section-space-y-axis-100 text-black" data-bg-color="#B9E6B5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12">
                    <div class="widget-item">
                        <div class="footer-logo pb-4">
                            <a href="index.html">
                                <img src="~/assets/images/logo/stis_logo (163 x 40 px).png" alt="Logo">
                            </a>
                        </div>
                        <p class="short-desc-2 mb-2 font-weight-bold">Xây dựng mái ấm từ những điều nhỏ nhất. </p>
                        <div class="widget-contact-info pb-6">
                            <ul>
                                <li>
                                    <i class="pe-7s-map-marker"></i>
                                    Khu phố 6, P. Linh Trung, Q.Thủ Đức, TP.HCM
                                </li>
                                <li>
                                    <i class="pe-7s-mail"></i>
                                    <a href="mailto://stisdecor@gmail.com">stisdecor@gmail.com</a>
                                </li>
                            </ul>
                        </div>
                        <!--<div class="payment-method">
                                <a href="javascript:void(0)">
                                    <img src="~/assets/images/payment/1.png" alt="Payment Method">
                                </a>
                        </div> -->
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="widget-item">
                        <h3 class="widget-title mb-5">Cập nhật thông tin khuyến mãi</h3>
                        <p class="short-desc">Cập nhật thông tin khuyến mãi mới nhất bằng cách để lại địa chỉ email của bạn dưới đây.</p>
                    </div>
                    <div class="widget-form-area">
                        <form class="widget-form" action="#">
                            <input class="input-field" type="email" autocomplete="off" placeholder="Nhập Email">
                            <div class="button-wrap pt-5">
                                <button class="btn btn-custom-size btn-primary btn-secondary-hover rounded-0" id="mc-submit">Gửi!</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom py-3" data-bg-color="#4ec363">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright">
                        <span class="copyright-text text-white">Stis Decor © 2021 <i class="fa fa-heart text-danger"></i></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>