@model doan.Models.Hinhanh

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">

    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminHinhanhs" asp-action="Index">Danh sách hình ảnh</a>
            <span class="breadcrumb-item active">Thêm hình ảnh</span>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-controller="AdminHinhanhs" asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LinkHinhAnh" class="control-label">Chọn hình ảnh</label>
                <input name="myfile" type="file" asp-for="LinkHinhAnh" class="form-control-file" />
                <span asp-validation-for="LinkHinhAnh" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="MaSp" class="control-label">Tên sản phẩm</label>
                <select asp-for="MaSp" class="form-control" asp-items="ViewBag.MaSp"></select>

            </div>
            <div class="form-group">
                <input type="submit" value="Tạo" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>*@
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
