@model doan.Models.Hinhanh 

@{
    ViewData["Title"] = "Chỉnh sửa hình ảnh";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">

    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminHinhanhs" asp-action="Index">Danh sách hình ảnh</a>
            <span class="breadcrumb-item active">Chỉnh sửa hình ảnh</span>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaHinhAnh" />
            <div class="form-group">
                <label asp-for="LinkHinhAnh" class="control-label">Link hình ảnh</label>
                <input asp-for="LinkHinhAnh" class="form-control" />
                <span asp-validation-for="LinkHinhAnh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaSp" class="control-label">Tên sản phẩm</label>
                <select asp-for="MaSp" class="form-control" asp-items="ViewBag.MaSp"></select>
                <span asp-validation-for="MaSp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu thay đổi" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
