@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Thống kê sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

}
@{
    var list_dmsp = (SortedList<string, int>)ViewBag.ListDMSP; }
   -
<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-center">
            <h5>Số lượng sản phẩm trong danh mục </h5>

        </div>
        <div class="m-t-30">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Tên danh mục sản phẩm</th>
                            <th>Số lượng</th>

                        </tr>
                    </thead>
                    <tbody>
                        @if (list_dmsp != null)
                        {
                            foreach (var item in list_dmsp)
                            {
                                <tr>
                                    <td>
                                        @item.Key
                                    </td>
                                    <td>
                                        @item.Value
                                    </td>

                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


