@model doan.Models.Nhanvien 

@{
    ViewData["Title"] = "Chỉnh sửa thông tin nhân viên";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="page-header">

    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminNhanviens" asp-action="Index">Danh sách nhân viên</a>
            <span class="breadcrumb-item active">Chỉnh sửa thông tin nhân viên</span>
        </nav>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaNv" />
            <div class="form-group">
                <label asp-for="TenNv" class="control-label">Tên nhân viên</label>
                <input asp-for="TenNv" class="form-control" />
                <span asp-validation-for="TenNv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SoDienThoai" class="control-label">Số điện thoại</label>
                <input asp-for="SoDienThoai" class="form-control" />
                <span asp-validation-for="SoDienThoai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgaySinh" class="control-label">Ngày sinh</label>
                <input asp-for="NgaySinh" class="form-control" />
                <span asp-validation-for="NgaySinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GioiTinh" class="control-label">Giới tính</label>
                <input asp-for="GioiTinh" class="form-control" />
                <span asp-validation-for="GioiTinh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaChi" class="control-label">Địa chỉ</label>
                <input asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NgayVaoLam" class="control-label">Ngày vào làm</label>
                <input asp-for="NgayVaoLam" class="form-control" />
                <span asp-validation-for="NgayVaoLam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChucVu" class="control-label">Chức vụ</label>
                <input asp-for="ChucVu" class="form-control" />
                <span asp-validation-for="ChucVu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu thay đổi" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
