@model doan.Models.Roles 

@{
    ViewData["Title"] = "Chỉnh sửa quyền truy cập";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="page-header">
    
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Home</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminRoles" asp-action="Index">Danh sách quyền truy cập</a>
            <span class="breadcrumb-item active">Chỉnh sửa quyền truy cập</span>
        </nav>
    </div>
</div>
<form asp-action="Edit" asp-route-id="@Model.RoleId" method="POST">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="RoleId" />
    <div class="form-group">
        <div class="form-group col-md-6">
            <label class="col-sm-3 col-form-label">Tên quyền</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" asp-for="RoleName" placeholder="Tên quyền">
            </div>
        </div>


        <div class="form-group col-md-6">
            <label class="col-sm-2 col-form-label">Mô tả</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" asp-for="MoTa" placeholder="Mô tả">
            </div>
        </div>

        <div class="form-group col-md-6">
            <div class="col-sm-6">
                <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
            </div>
        </div>
    </div>
</form>

@*<h1>Edit</h1>

<h4>Roles</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RoleId" />
            <div class="form-group">
                <label asp-for="RoleName" class="control-label"></label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MoTa" class="control-label"></label>
                <input asp-for="MoTa" class="form-control" />
                <span asp-validation-for="MoTa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>*@

