@{
    ViewData["Title"] = "Về chúng tôi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Begin Main Content Area -->
<main class="main-content">

    <div class="breadcrumb-area breadcrumb-height" data-bg-image="~/assets/images/breadcrumb/bg/banner_giangsinh.png">

        <div class="container h-100">
            <div class="row h-100">
                <div class="col-lg-12">
                    <div class="breadcrumb-item">
                        <img src="~/assets/images/breadcrumb/bg/banner_giangsinh.png">

                        <h2 class="breadcrumb-heading">Giới thiệu</h2>
                        <ul>
                            <li>
                                <a href="index.html">Trang chủ <i class="pe-7s-angle-right"></i></a>

                            </li>
                            <li>Giới thiệu</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about-banner different-bg-position section-space-y-axis-100" data-bg-image="~/assets/images/banner/inner-img/banner_inner_simple.jpg">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-5">
                    <div class="parallax-img-wrap">
                        <div class="papaya">
                            <div class="scene fill">
                                <div class="expand-width" data-depth="0.2">
                                    <img src="~/assets/images/banner/inner-img/banner_inner_simple.jpg" alt="Banner Images">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7 align-self-center">
                    <div class="about-banner-content">
                        <div class="section-title">
                            <span class="sub-title">Chào mừng đến với Stis Decor</span>
                            <h2 class="title font-size-60 mb-6">Best Decorated Shop</h2>
                            <p class="short-desc mb-0">Với một niềm đam mê mãnh liệt về các sản phẩm trang trí và tinh thần phục vụ tận tâm, chúng tôi tự tin đem đến cho khách hàng những sản phẩm tốt và đáng tiền nhất!</p>
                            <div class="button-wrap pt-8">
                                <a class="btn btn-custom-size lg-size btn-primary btn-dark-hover rounded-0" href="shop.html">Mua sắm ngay!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="intro-area section-space-y-axis-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="intro-item text-white" data-bg-color="#52d298">
                        <div class="intro-icon mb-5">
                            <img src="~/assets/images/about/intro/icon/candle_icon.jpg" alt="Intro Icon">
                        </div>
                        <div class="intro-content">
                            <h3 class="title mb-4">Who We Are</h3>
                            <p class="short-desc mb-0">Chúng tôi tự hào là những người trẻ luôn hết mình với đam mê và công việc, với niềm tin sẽ đem đến những điều tốt nhất cho khách hàng.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 pt-6 pt-md-0">
                    <div class="intro-item text-white" data-bg-color="#FF9999">
                        <div class="intro-icon mb-5">
                            <img src="~/assets/images/about/intro/icon/flower_icon.jpg" alt="Intro Icon">
                        </div>
                        <div class="intro-content">
                            <h3 class="title mb-4">Our Products</h3>
                            <p class="short-desc mb-0">Sản phẩm trang trí đa dạng, chất lượng, cam kết đổi trả hàng trong vòng 7 ngày nếu sản phẩm lỗi do nhà sản xuất.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 pt-6 pt-lg-0">
                    <div class="intro-item text-white" data-bg-color="#999966">
                        <div class="intro-icon mb-5">
                            <img src="~/assets/images/about/intro/icon/large_icon.jpg" alt="Intro Icon">
                        </div>
                        <div class="intro-content">
                            <h3 class="title mb-4">How We Work</h3>
                            <p class="short-desc mb-0">Phong cách làm việc tận tâm, chuyên nghiệp, luôn đặt chất lượng sản phẩm và sự hài lòng của khách hàng lên hàng đầu.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="team-member section-space-top-100">
        <div class="container">
            <div class="section-title text-center pb-55">
                <h2 class="title mb-0">Đội ngũ nhân viên</h2>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="swiper-container team-member-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="team-member-item">
                                    <div class="team-member-img img-zoom-effect with-overlay">
                                        <a href="javascript:void(0)">
                                            <img class="img-full" src="https://scontent.fsgn13-1.fna.fbcdn.net/v/t1.6435-9/51373662_776160086094296_4510114555887616000_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=174925&_nc_ohc=CUiup-j1KBwAX-aiXe8&_nc_ht=scontent.fsgn13-1.fna&oh=00_AT-g62MDU0tADRll3hE5l3PhuOk9XLBh33dxQsOB9CAHng&oe=61DF4878" alt="Team Member">
                                        </a>
                                    </div>
                                    <div class="team-member-content text-black pt-5">
                                        <h6 class="title mb-0">Phạm Như Long</h6>
                                        <span class="occupation">Director</span>
                                        <div class="social-link with-border justify-content-center pt-2">
                                            <ul>
                                                <li>
                                                    <a href="https://www.facebook.com/phamnhulong3.3">
                                                        <i class="fa fa-facebook-f"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.instagram.com/phamnhulongg/">
                                                        <i class="fa fa-instagram"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-pinterest"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-youtube"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team-member-item">
                                    <div class="team-member-img img-zoom-effect with-overlay">
                                        <a href="javascript:void(0)">
                                            <img class="img-full" src="https://scontent.fsgn13-2.fna.fbcdn.net/v/t39.30808-6/267063565_2937957433185035_7044507465360703446_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=zgVkr_vITQsAX9wmE8U&_nc_ht=scontent.fsgn13-2.fna&oh=00_AT-uTUZMFWwDqsVFK5OQySNanynoQNf-GnttBszuzCq_rg&oe=61D33CE1" alt="Team Member">
                                        </a>
                                    </div>
                                    <div class="team-member-content text-black pt-5">
                                        <h6 class="title mb-0">Hoàng Ngọc Thảo Quyên</h6>
                                        <span class="occupation">Director</span>
                                        <div class="social-link with-border justify-content-center pt-2">
                                            <ul>
                                                <li>
                                                    <a href="https://www.facebook.com/Quyenn.hntq.1611">
                                                        <i class="fa fa-facebook-f"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.instagram.com/hntq_nn">
                                                        <i class="fa fa-instagram"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://www.pinterest.com/hntqnn/_saved/">
                                                        <i class="fa fa-pinterest"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-youtube"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team-member-item">
                                    <div class="team-member-img img-zoom-effect with-overlay">
                                        <a href="javascript:void(0)">

                                            <img class="img-full" src="https://scontent.fsgn13-2.fna.fbcdn.net/v/t1.6435-9/84843074_1096928520658445_1905909596074016768_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=tqvIoPSUX4kAX_HWP7x&_nc_ht=scontent.fsgn13-2.fna&oh=00_AT-qzdJ1XuGYezc8YRClzDTQlHBatcmketTPzhKVrtxDkw&oe=61F3CBF5" alt="Team Member">

                                        </a>
                                    </div>
                                    <div class="team-member-content text-black pt-5">
                                        <h6 class="title mb-0">Lý Trần Thanh Thảo</h6>
                                        <span class="occupation">Director</span>
                                        <div class="social-link with-border justify-content-center pt-2">
                                            <ul>
                                                <li>
                                                    <a href="https://www.facebook.com/lttthao2601">
                                                        <i class="fa fa-facebook-f"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-instagram"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-pinterest"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-youtube"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="team-member-item">
                                    <div class="team-member-img img-zoom-effect with-overlay">
                                        <a href="javascript:void(0)">
                                            <img class="img-full" src="https://scontent.fsgn8-2.fna.fbcdn.net/v/t1.6435-9/186448977_891394988107051_4703320567558012905_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=4Xat6wZnitcAX8JPi4l&_nc_ht=scontent.fsgn8-2.fna&oh=00_AT_QKWUqwDTNq7aE90Ea6AqT0LdOZz8heOTL1n5H3xzlOA&oe=61DFF915" alt="Team Member">
                                        </a>
                                    </div>
                                    <div class="team-member-content text-black pt-5">
                                        <h6 class="title mb-0">Bùi Bích Chăm</h6>
                                        <span class="occupation">Director</span>
                                        <div class="social-link with-border justify-content-center pt-2">
                                            <ul>
                                                <li>
                                                    <a href="https://www.facebook.com/bichcham201101">
                                                        <i class="fa fa-facebook"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-instagram"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-pinterest"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">
                                                        <i class="fa fa-youtube"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Main Content Area End Here -->
<!-- Begin Shipping Area -->
<div class="shipping-area section-space-y-axis-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="shipping-item">
                    <div class="shipping-img">
                        <img src="~/assets/images/shipping/icon/free_shipping.jpg" alt="Shipping Icon">
                    </div>
                    <div class="shipping-content">
                        <h5 class="title">Free Shipping</h5>
                        <p class="short-desc mb-0">Vận chuyển miễn phí tận nhà</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pt-6 pt-md-0">
                <div class="shipping-item">
                    <div class="shipping-img">
                        <img src="~/assets/images/shipping/icon/online_support.jpg" alt="Shipping Icon">
                    </div>
                    <div class="shipping-content">
                        <h5 class="title">Online Support</h5>
                        <p class="short-desc mb-0">Hỗ trợ khách hàng 24/7</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 pt-6 pt-lg-0">
                <div class="shipping-item">
                    <div class="shipping-img">
                        <img src="~/assets/images/shipping/icon/secure_payment.jpg" alt="Shipping Icon">
                    </div>
                    <div class="shipping-content">
                        <h5 class="title">Secure Payment</h5>
                        <p class="short-desc mb-0">Phương thức thanh toán an toàn và đa dạng</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Shipping Area End Here -->